* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: blue transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-face-color: blue;
  scrollbar-shadow-color: transparent;
  scrollbar-highlight-color: darkblue;
}

body {
  background-color: #282828;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar, *::-webkit-scrollbar-corner, *::-webkit-scrollbar-track, *::-webkit-scrollbar-button {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: darkblue;
}

.top-bar {
  background-color: #121212;
  color: blue;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
  z-index: 10;
}

#page-name, #page-name button {
  position: fixed;
  font-size: 24px;
  flex-grow: 1;
  z-index: 9999;
  left: 45px;
  top: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: #121212;
  border: none;
  color: #2196f3;
  cursor: pointer;
}

.fa-icon {
  position: fixed;
  left: 10px;
  border: none;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("/static/icons/fav.svg");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

.stats {
  position: fixed;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  cursor: default;
  box-sizing: border-box;
}

.dropdown-btn {
  display: none;
  background-color: #121212;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  position: fixed;
  cursor: pointer;
  top: 15px;
  right: 10px;
  z-index: 9;
}

.dropdown-menu {
  display: none;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: #121212;
  width: 180px;
  height: 155px;
  border-bottom-left-radius: 5px;
  z-index: 9;
}

#ssid {
  display: inline-block;
  color: white;
  overflow-x: scroll;
  position: fixed;
  cursor: default;
  width: 110px;
  top: 15px;
  right: 10px;
  text-align: left;
}

#wifi-icon {
  display: inline-block;
  cursor: default;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 130px;
  top: 15px;
}

.wifi-4-bars {
  background-image: url("/static/icons/wifi-4-bar.svg");
}

.wifi-3-bars {
  background-image: url("/static/icons/wifi-3-bar.svg");
}

.wifi-2-bars {
  background-image: url("/static/icons/wifi-2-bar.svg");
}

.wifi-1-bar {
  background-image: url("/static/icons/wifi-1-bar.svg");
}

.wifi-0-bars {
  background-image: url("/static/icons/wifi-0-bar.svg");
}

#ip {
  display: inline-block;
  position: fixed;
  color: white;
  width: 180px;
  height: 25px;
  top: 15px;
  right: 165px;
  text-align: center;
}

#temp {
  display: inline-block;
  position: fixed;
  color: white;
  width: 65px;
  height: 25px;
  top: 15px;
  right: 355px;
  text-align: left;
}

#temp-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 430px;
  top: 15px;
}

.temp-low {
  background-image: url("/static/icons/temp-low.svg");
}

.temp-mid {
  background-image: url("/static/icons/temp-mid.svg");
}

.temp-high {
  background-image: url("/static/icons/temp-high.svg");
}

#cpu {
  display: inline-block;
  position: fixed;
  color: white;
  width: 55px;
  height: 25px;
  top: 15px;
  right: 465px;
  text-align: left;
}

#cpu-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/static/icons/cpu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 530px;
  top: 15px;
}

#fan-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 565px;
  top: 15px;
  cursor: default;
}

.fan-static {
  background-image: url("/static/icons/fan.svg");
}

.fan-rotate {
  background-image: url("/static/icons/fan.svg");
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

.active {
  background-color: blue;
  color: white;
}

#temp-icon2, #temp2, #cpu2 {
  display: none;
}

@media screen and (max-width: 795px) {
  .stats {
    display: none;
  }
  .dropdown-btn {
    display: block;
  }

  #ssid {
    right: 30px;
  }

  #wifi-icon {
    right: 150px;
  }

  #fan-icon {
    right: 185px;
  }

  #ip {
    width: 160px;
    right: 10px;
    top: 60px;
  }

  #temp-icon2 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 145px;
  top: 90px;
}

  #temp2 {
    display: inline-block;
    position: fixed;
    color: white;
    width: 125px;
    height: 25px;
    right: 10px;
    top:100px;
    text-align: left;
  }

  #cpu-icon {
    right: 145px;
    top: 120px;
  }

  #cpu2 {
    display: inline-block;
    position: fixed;
    color: white;
    width: 125px;
    height: 25px;
    right: 10px;
    top: 130px;
    text-align: left;
  }
}