* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: blue transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-face-color: blue;
  scrollbar-shadow-color: transparent;
  scrollbar-highlight-color: darkblue;
}

body {
  background-color: #282828;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar, *::-webkit-scrollbar-corner, *::-webkit-scrollbar-track, *::-webkit-scrollbar-button {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: darkblue;
}

.top-bar {
  background-color: #121212;
  color: blue;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
  z-index: 10;
}

#page-name, #page-name button {
  position: fixed;
  font-size: 24px;
  flex-grow: 1;
  z-index: 9999;
  left: 45px;
  top: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: #121212;
  border: none;
  color: #2196f3;
  cursor: pointer;
}

.fa-icon {
  position: fixed;
  left: 10px;
  border: none;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("/static/icons/fav.svg");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

.stats {
  position: fixed;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  cursor: default;
  box-sizing: border-box;
}

.dropdown-btn {
  display: none;
  background-color: #121212;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  position: fixed;
  cursor: pointer;
  top: 15px;
  right: 10px;
  z-index: 9;
}

.dropdown-menu {
  display: none;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: #121212;
  width: 250px;
  height: 180px;
  border-bottom-left-radius: 5px;
  z-index: 9;
}

#ssid {
  display: inline-block;
  color: white;
  position: fixed;
  cursor: default;
  width: 140px;
  top: 15px;
  right: 10px;
  text-align: left;
}

#wifi-icon {
  display: inline-block;
  cursor: default;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 160px;
  top: 15px;
}

.wifi-4-bars {
  background-image: url("/static/icons/wifi-4-bar.svg");
}

.wifi-3-bars {
  background-image: url("/static/icons/wifi-3-bar.svg");
}

.wifi-2-bars {
  background-image: url("/static/icons/wifi-2-bar.svg");
}

.wifi-1-bar {
  background-image: url("/static/icons/wifi-1-bar.svg");
}

.wifi-0-bars {
  background-image: url("/static/icons/wifi-0-bar.svg");
}

#ip {
  display: inline-block;
  position: fixed;
  color: white;
  width: 220px;
  height: 25px;
  top: 15px;
  right: 195px;
  text-align: left;
}

#temp {
  display: inline-block;
  position: fixed;
  color: white;
  width: 65px;
  height: 25px;
  top: 15px;
  right: 425px;
  text-align: left;
}

#temp-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 500px;
  top: 15px;
}

.temp-low {
  background-image: url("/static/icons/temp-low.svg");
}

.temp-mid {
  background-image: url("/static/icons/temp-mid.svg");
}

.temp-high {
  background-image: url("/static/icons/temp-high.svg");
}

#cpu {
  display: inline-block;
  position: fixed;
  color: white;
  width: 55px;
  height: 25px;
  top: 15px;
  right: 535px;
  text-align: left;
}

#cpu-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/static/icons/cpu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 600px;
  top: 15px;
}

#fan-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 635px;
  top: 15px;
  cursor: default;
}

.fan-static {
  background-image: url("/static/icons/fan.svg");
}

.fan-rotate {
  background-image: url("/static/icons/fan.svg");
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.active {
  background-color: blue;
  color: white;
}

#version {
  position: fixed;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  bottom: 10px;
}

@media screen and (max-width: 950px) {
  .stats {
    display: none;
  }
  .dropdown-btn {
    display: block;
  }

  #ssid {
    right: 45px;
  }
  
  #wifi-icon {
    right: 195px;
  }

  #fan-icon {
    right: 230px;
  }

  #ip {
    right: 230px;
    top: 60px;
  }
  
  #temp-icon {
    right: 230px;
    top: 90px;
  }

  #temp {
    right: 205px;
    top:90px;
  }

  #cpu-icon {
    right: 230;
    top: 120px;
  }

  #cpu {
    right: 205px;
    top: 120px;
  }
}