* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: blue transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-face-color: blue;
  scrollbar-shadow-color: transparent;
  scrollbar-highlight-color: darkblue;
}

body {
  background-color: #282828;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar, *::-webkit-scrollbar-corner, *::-webkit-scrollbar-track, *::-webkit-scrollbar-button {
  background-color: transparent;
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track, *::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: darkblue;
}

.top-bar {
  background-color: #121212;
  color: blue;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

#page-name,
#page-name:visited {
  position: fixed;
  font-size: 24px;
  flex-grow: 1;
  left: 45px;
  top: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #2196f3;
}

.fa-icon {
  position: fixed;
  left: 10px;
  border: none;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("/static/icons/fav.svg");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

#ssid {
  display: inline-block;
  color: white;
  position: fixed;
  width: 140px;
  top: 15px;
  right: 10px;
  text-align: left;
}

#wifi-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 160px;
  top: 15px;
}

.wifi-4-bars {
  background-image: url("/static/icons/wifi-4-bar.svg");
}

.wifi-3-bars {
  background-image: url("/static/icons/wifi-3-bar.svg");
}

.wifi-2-bars {
  background-image: url("/static/icons/wifi-2-bar.svg");
}

.wifi-1-bar {
  background-image: url("/static/icons/wifi-1-bar.svg");
}

.wifi-0-bars {
  background-image: url("/static/icons/wifi-0-bar.svg");
}

#temp {
  display: inline-block;
  position: fixed;
  color: white;
  width: 65px;
  height: 25px;
  top: 15px;
  right: 195px;
  text-align: left;
}

#temp-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 270px;
  top: 15px;
}

.temp-low {
  background-image: url("/static/icons/temp-low.svg");
}

.temp-mid {
  background-image: url("/static/icons/temp-mid.svg");
}

.temp-high {
  background-image: url("/static/icons/temp-high.svg");
}

#cpu {
  display: inline-block;
  position: fixed;
  color: white;
  width: 55px;
  height: 25px;
  top: 15px;
  right: 305px;
  text-align: left;
}

#cpu-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/static/icons/cpu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  right: 370px;
  top: 15px;
}

@media only screen and (max-width: 499px) {

}